#map {
    height: 80vh;
    width: 1140px;
    margin: 50px auto;

    .mapboxgl-marker {
        width: 40px;
        height: 40px;
        background: url('../images/marker.svg') no-repeat;
        background-size: cover;
    }
}
